DISCORD_TOKEN=
COMMAND_PREFIX=
LAVALINK_URI = "http://localhost:2333"
LAVALINK_PASSWORD =    "youshallnotpass"

# If wanting to sync to specific guild for faster testing
GUILD_ID =

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=