# Lavalink plugins. Downloaded at runtime.
plugins/

# Lavalink settings
application.yml

# Log files
logs/

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
venv/

# pytype static type analyzer
.pytype/

.vscode/
__pycache__
Lavalink.jar